asgiref==3.12.1
black==26.5.1
certifi==2026.7.22
charset-normalizer==3.5.1
click==8.5.0
defusedxml==0.7.1
Django==6.1
django-cors-headers==4.9.0
django-filter==26.1
djangorestframework==3.18.0
docstring-to-markdown==0.17
idna==3.19
importlib_metadata==9.0.1
jedi==0.20.0
joblib==1.5.3
kagglehub==1.0.2
kagglesdk==0.1.37
mypy_extensions==1.1.0
nltk==3.10.3
numpy==2.5.2
packaging==26.3
pandas==3.0.5
parso==0.8.7
pathspec==1.1.1
platformdirs==4.11.5
pluggy==1.6.0
protobuf==7.36.0
python-dateutil==2.9.0.post0
python-lsp-jsonrpc==1.1.2
python-lsp-server==1.15.0
pytokens==0.4.1
PyYAML==6.0.3
regex==2026.7.19
requests==2.34.2
six==1.17.0
sqlparse==0.6.0
tqdm==4.70.0
typing_extensions==4.16.0
ujson==5.13.0
urllib3==2.7.0
zipp==4.1.0
